
.topBar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background: #2196f3;
  }
  
  .topBar-title {
    text-align: left;
  }

  .topBar-title > a {
    text-align: left;
    margin: 0 100px 0 0;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }
  
  .topBar > div{
    flex-grow: 2;
  }