.topBar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background: tomato;
  }
  
  .topBar-title {
    text-align: left;
  }

  .topBar-title > a {
    text-align: left;
    margin: 0 100px 0 0;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .topBar > div{
    flex-grow: 2;
  }
  
  .topBar > i {
    padding: 0 5px 0 10px;
    margin: auto;
    font-size: 200%;
  }